@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.playfair{
  font-family: "Playfair Display", serif;
}
.montserrat{
  font-family: "Montserrat", sans-serif;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-variation-settings:
    "wdth" 100;
}